[Unit]
Description=Omatunes Local to GitHub Auto Sync Service
After=network.target

[Service]
ExecStart=/home/davepople/.local/bin/omatunes_scripts/git_sync.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
